.icon-menu {
    position: absolute;
    text-align: right;
    top: 5px;
    right: 5px;
}

section h1 {
    margin-top: 0;
    padding-top: 15px;
}

nav ul {
    display: none;
}

nav:hover ul {
    display: block;
    background-color: #FFFF99;
    margin-top: 0;
    list-style: none;
    font-size: 25px;
    color: gray;
    padding-bottom: 10px;
}

nav:hover li {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    border-width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
}

div {
    color: gray;
}

address {
    font-weight: bold;
}

a {
    color:inherit;
    text-decoration: none;
   }

.pull-left {
    float: left;
}

@media only screen and (min-width: 640px) {
    .icon-menu {
        display: none;
    }

    img {
        max-width: 100%;
        float: right;
    }

    nav ul {
        display: block;
        border-bottom: none;
        font-size: 25px;
        color: gray;
        padding-bottom: 10px;
        padding-left: 10px;;
        background-color: #FFFF99;
        margin-top: 0;
     }

     nav:hover li {
        padding-bottom: 10px;
        border-width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        border: none;
    }

     nav ul li {
        border-bottom: none;
        display: inline;
        font-size: 25px;
        padding-left: 10px;
     }
}